# SPDX-FileCopyrightText: yar2000T <https://github.com/yar2000T>
# SPDX-License-Identifier: CC0-1.0

name: Deploy

on:
  push:
    tags:
      - "**"

permissions:
  contents: write

jobs:
  zip-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIPs of all subfolders in themes/
        run: |
          mkdir -p zips
          cd themes
          for dir in */ ; do
            name=${dir%/}
            zip -r "../zips/$name.zip" "$name"
          done

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          tag_name: ${{ github.ref_name }}
          files: zips/*.zip
          name: Kando Menu Themes - ${{ github.ref_name }}
          body: |
            Zipped menu theme folders of all available menu themes for tag ${{ github.ref_name }}.
          prerelease: true
